* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
}

.container .box {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 12px;
    border: 2px solid #fff;
}

.box .image {
    height: 100%;
    width: 100%;
    background-image: url(./images/girl.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.box.hovering {
    border: 2px dashed #fff;
}