* {
  margin: 0;
  padding: 0;
  text-align: center;
}


h3 {
  background-color: #081b31;
  color: #fff;
  height: 3rem;
  line-height: 3rem;
}

.choice {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 3rem;
  font-weight: 800;
}

.msg-container {
  margin-top: 3rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 1.5rem;
  display: inline;
  padding: .8rem;
  border-radius: 1rem;
}
