@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#000000;
    --secondary-text-color:#562EFF;
    --padding-inline-section:30px;
}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
    background-color: #E5E5E5;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
    color: var(--secondary-text-color);
}
h4{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    color: var(--primary-text-color);
}
a{
    text-decoration: none;
    color: var(--primary-text-color);
}
li{
    list-style: none;
}

/* utility class */
.container{
    width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
/* nav bar */
nav{
    background-color: #562EFF;
    height: 94px;
}
.nav-container{
    justify-content: space-between;
    padding-top: 20px;
}
.nav-logo{
    gap: 10px;
}
.nav-logo h4{
    color: white;

}
.nav-links{
    gap: 40px;
}
.nav-link{
    color: white;
    font-weight: 500;
    transition: 0.2s ease-out;
}
.nav-link:hover{
    color: chartreuse;
}

/* top player */
.top-section{
    background-color: #fff;
    height: 770px;
    margin-top: 20px;
    border-radius: 3px;
}
.top-player{
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #D1D1D1;
}
.all-Player{
    flex-direction: column;
    gap: 40px;
}
.first-row{
    width: 70vw;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-between;
}
.player-list{
    gap: 15px;
}
.player-list img{
    width: 70px;
}
 /* blog-section */
 .top-blog{
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-top: 30px;
 }
 .blog-container{
    width: 95%;
    flex-direction: column;
    gap: 40px;
 }
 .blog-box{
    width: 100%;
    justify-content: space-between;
 }
 .blog-card{
    gap: 15px;
 }
 .blog-card img{
    width: 177px;
    height: 117px;
    background-color: rgb(230, 230, 230);
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(220, 220, 220);
 }
 .blog-text{
    flex-direction: column;
    align-items: start;
    position: relative;
    top: -10px;
    line-height: 2rem;
 }
 span{
    color: var(--secondary-text-color);
    font-size: 1rem;
 }
 .blog-text-last{
    color: rgb(200,200,200);
    font-size: 1rem;
 }

 /* lates course */
 .course-section{
    background-color: #fff;
    padding-top: 20px;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    height: 390px;
    margin-top: 20px;
    margin-bottom: 40px;
 }
 .main-container{
    width: 95%;
    justify-content: space-between;
 }
 .course-container{
    height: 260px;
    width: 253px;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(240, 240, 240);
    border-radius: 6px;
 }

 .course-disc{
    line-height: 2rem;
 }
 .course-container img{
    width: 224px;
    height: 104px;
 }
 .course-red{
    color: rgb(230, 0, 0);
    font-size: .8rem;
 }
 .fa-star{
    font-size: .7rem;
 }
 .clock{
    margin-left: 20px;
    color: red;
    font-size: .7rem;
    margin-right: 5px;
    background-color: #FFE4E8;
    padding: 5px;
    border-radius: 10px;
    
 }